.top-container {
    /* font-family: 'Pacifico', cursive; */
    /* font-family: "Helvetica Neue", Verdana, Geneva, Tahoma, sans-serif; */
    /* background-color: red; */
    text-align: center;
    
    /* position: absolute; */
    
    /* bottom: 0px; */
    /* top: 10px; */
}



#top-name {
    font-family: 'Moon Dance', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Secular One', sans-serif;
    
    font-size: 50px;
    transition: 0.3s;
}

#top-caption {
    color: #7B030D;
    font-family: monospace;
    font-size: 1.5em;
    /* 16px = 100% = 1em 90px*/
    line-height: 3;
    font-weight: bold;
    transition: 0.3s;
}

/* Media Query */
@media screen and (max-width: 650px) {
    #top-name {
        font-size: 2rem;
    }
    #top-caption {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 425px) {
    #top-name {
        font-size: 30px;
    }
    #top-caption {
        font-size: 1.0rem;
        
    }
}
